@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111111;
  font-family: Inter, system-ui, sans-serif;
}

button,
a {
  transition: all 0.2s ease;
}

button {
  cursor: pointer;
}
